html, body {
    height: 100%;
}

#content-wrap {
    min-height: 100%;
    /* equal to footer height */
}

#content-wrap:after {
  content: "";
  display: block; 
}

footer {
    padding: 10px 0;
    background: #1D1840;
    text-align: center;
    color: #F2D3AC;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
}

.container {
    max-width: 80%;
}

.button {
	padding: 5px 10px;
	cursor: pointer;
	text-decoration: none;
	border: solid;
	border-color: #011535;
	background-color: #011535;
	color: white;
	border-radius: 8px;
	display: block;
	text-align: center;
    max-width: 200px;
    margin-top: 25px;
}

.button:hover {
	background-color: white;
	color: #011535;
	border-color: #011535;
}

.success {
    text-align: center;
    width: 100%;
    background: green;
    color: white;
    padding: 25px 0;
    position: absolute;
}

.error {
    text-align: center;
    width: 100%;
    background: red;
    color: white;
    padding: 25px 0;
    position: absolute;
}

/*clearfix*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
