html, body {
    height: 100%;
}

#content-wrap {
    min-height: 100%;
}

/*
#content-wrap:after {
  content: "";
  display: block; 
}
*/

footer {
    padding: 10px 0;
    background: #1D1840;
    text-align: center;
    color: #F2D3AC;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
}

.container {
    max-width: 80%;
}

.button {
	padding: 5px 10px;
	cursor: pointer;
	text-decoration: none;
	border: solid;
	border-color: #011535;
	background-color: #011535;
	color: white;
	border-radius: 8px;
	display: block;
	text-align: center;
    max-width: 200px;
    margin-top: 25px;
}

.button:hover {
	background-color: white;
	color: #011535;
	border-color: #011535;
}

.success, .error {
    text-align: center;
    margin-top: 20%;
    width: 100%;
    color: white;
    padding: 15px 0;
    position: absolute;
}

.success {
    background: green;
}

.error {
    background: red;
}

table {
    line-height: 2em;
}

#weatherData-inner {
    margin-top: 50px;
}

#conditionImg {
    width: 26%;
    margin-right: 5%;
}

/*Activity Styles*/
#sliderWrapper {
    width: 240%;
    transform: translate3d(0, 0, 0);
}

.content {
    float: left;
    height:350px;
    width: 80%; 
    white-space: normal;
    background-repeat: no-repeat;
    margin-left: 5%;
}

#activityOne {
    background-color: #ADFF2F;
}

#activityTwo {
    background-color: #FF7F50;
}

#activityThree {
    background-color: #1E90FF;
}

#sliderContainer {
    height: 350px;
    overflow: hidden;
}

.activityImg {
    width: 40%;
    height: auto;
    margin: 1% 2.5%;
}

/*clearfix*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
