html, body {
    height: 100%;
}

#content-wrap {
    min-height: 100%;
    margin-bottom: 50px;
}

/*
#content-wrap:after {
  content: "";
  display: block; 
}
*/

footer {
    padding: 25px 20px;
    background: #1D1840;
/*    text-align: center;*/
    color: white;
}

#valid {
    float: right;
    display: block;
    margin-top: -5px;
}

#valid a {
    display: inline-block;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-align: center;
}

.container {
    max-width: 80%;
}

.button {
	padding: 5px 10px;
	cursor: pointer;
	text-decoration: none;
	border: solid;
	border-color: #1D1840;
	background-color: #1D1840;
	color: white;
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	display: block;
	text-align: center;
    max-width: 200px;
    margin-top: 25px;
}

#locationSearch {
    margin-top: 31px;
}

.button:hover {
	background-color: white;
	color: #1D1840;
	border-color: #1D1840;
}

.success, .error {
    text-align: center;
    margin-top: 20%;
    width: 100%;
    color: white;
    padding: 15px 0;
    position: absolute;
}

.success {
    background: green;
}

.error {
    background: red;
}

#loading {
    display: none;
}

.pure-table {
    line-height: 2em;
    display: inline-table;
    max-width: 410px;
    margin: 20px 0;
}

.pure-table td {
    width: 200px;
}


#weatherData-inner {
    margin-top: 50px;
}

#conditionImg {
    width: 33%;
    max-width: 350px;
    max-height: 350px;
    min-height: 180px;
    min-width: 180px;
}

/*Activity Styles*/
    /*slider styling*/
    #sliderWrapper {
        width: 90%;
        max-width: 425px;
        margin: 0 auto;
        transform: translate3d(0, 0, 0);
        transition: transform .5s ease-in-out;
    }
    
    #sliderContainer {
        height: 360px;
        overflow: hidden;
    }

    .content {
        float: left;
        height: 360px;
        width: 300px; 
        white-space: normal;
        background-repeat: no-repeat;
        background: #F2D3AC;
        border-radius: 15px;
    }
    
    .content p {
        padding: 0 20px;
    }
        /*slider navigation*/
        #actNav {
            text-align: center;
            margin-top: 120px;
/*             margin-left: 79%; */
            display: inline-block;
            position: absolute;
        }
            #actNav ul {
                margin: 0px;
                padding: 0px;
                display: inline-block;
                margin-top: 6px;
            }
                #actNav ul li {
/*                    float: left;*/
                    text-align: center;
                    margin: 20px 0px;
                    list-style: none;
                    cursor: pointer;
                    background-color: white;
                    padding: 5px;
                    border-radius: 50%;
                    border: #1D1840 5px solid;
                }
                    #actNav ul li:hover {
                        background-color: #1D1840;
                    }
                    #actNav ul li.active {
                        background-color: #1D1840;
                        color: #FFFFFF;
                        outline-width: 7px;
                    }
                        #actNav ul li.active:hover {
                            background-color: #484848;
                            color: #FFFFFF;
                        }

    /*activity images*/
    .activityImg {
        width: 95%;
        height: auto;
        margin: 2.5% 2.5%;
        border-radius: 15px;
    }


/*end activity styles*/

/*clearfix*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@media screen and (max-width: 400px) {
    .content {
        width: 100%;
    }
}

/*pure css small*/
@media screen and (min-width: 35.5em) {
    
}

/*pure css med*/
@media screen and (min-width: 48em) {
    #actNav {
        margin-left: -5%;
    }
    
    #conditionImg {
        margin-top:  8%;
    }
}

@media screen and (max-width: 48em) {
    #valid {
        width: 100%;
        float: none;
    }
    
    footer {
        text-align: center;
    }
    
    #valid div {
    margin: 0px auto;
    margin-top: 20px;
    width: 200px;
    }
}


/*pure css lg*/
@media screen and (min-width: 64em) {
    #actNav {
        margin-left: 0;
    }
    
    .pure-table {
        margin: 0;
    }
    
    #conditionImg {
        margin-top: 0;
    }
}

@media screen and (min-width: 64em) and (max-width: 1250px) {
    .content {
        width: 100%;
    }
}
